@import "tailwindcss";

.scroll-invisible {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE y Edge */
}

.scroll-invisible::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}
